
<%- include ../partials/header.ejs %>

<div id="hero-image-single" style="background-image: url('/images/<%= foundmovie.background_image %>');">
  <h1 id="hero-title"><%= foundmovie.title %></h1>
</div>

<div class="container">
<div class="picsNwords">
<div class="col-md-4">
<img class= "newImage img-responsive" src="/images/<%= foundmovie.poster %>">
</div>
<div class="col-md-8">
  <p>Title<p>
  <p><%= foundmovie.title %></p>
  <p>Genre<p>
  <p><%= foundmovie.genre %></p>
  <p>Description<p>
  <p class="movie_description"><%= foundmovie.description %></p>
</div>
</div>

<div style="clear: both"></div>


  <div class="form-group" >
    <form class="comment-user" action="/movies/<%= foundmovie.id %>" method="POST">
    <label for="inputcomments">Comments</label>
    <textarea name="user[review]" type="text" class="form-control" rows="4"></textarea>
    <button class="btn btn-default" type="submit" value='comment'>Comment</button>
  </form>

  </div>



  <% reviewArr.forEach(function(review) { %>
    <div class="container commentBox">
       <div class="row">
          <div class="col-md-8">
             <p> <%= review.comment %> <p>
          </div>


          <%if(currentUser === String(review.user_id)){%>

          <form method="POST" action="<%=foundmovie.id%>/reviews/<%= review.id%>?_method=DELETE">
            <a href="/movies/<%= foundmovie.id %>/reviews/<%= review.id %>/edit" class="btn btn-default" role="button" aria-pressed="true">Edit</a>
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-default" type="submit">Delete</button>
          </form>
        <% } %>
        </div>
    </div>
  <% }) %>

</div>
