<h1>Hi Logged in User</h1>

<% if(message.length > 0) { %>
  <h3>Flash Found</h3>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>


<a href="/logout">Logout</a>

<div>
  <ul id="all-movie-boxes">
           <% var counter = 0



           moviesArr.forEach(function(movie) {
             counter++

             %>
             <div class="col-md-4">
             <a href="/movies/<%= movie.id %>"><img class="movieImage img-responsive"  src="/images/<%= movie.poster %>" ></a>
            <li>
             <h4> <%= movie.title %> </h4>
             <p> <%= movie.genre %> </p>
            </li>
            </div>

            <% if (counter % 3 === 0) { %>
              <div style="clear:both;"></div>

            <% }
         }) %>
      </ul>

      <%# <img src="images/deepwaterhorizonposter.jpg" class="img-thumbnail" height="200" width="200">

      <img src="images/jackreacherposter.jpg" class="img-thumbnail" height="200" width="200">

      <img src="images/infernoposter.jpg" class="img-thumbnail" height="200" width="200">

      <img src="images/girltrain-poster.jpg" c class="img-thumbnail" height="200" width="200">

      <img src="images/startrekbeyond-poster.jpeg" class="img-thumbnail" height="200" width="200">

      <img src="images/findingdoryPoster.jpg" class="img-thumbnail" height="200" width="200">%>

</div>
