
<%- include ../partials/header.ejs %>

<div id="hero-image">
  <h1 id="hero-title">Movies</h1>
</div>

<div class="container">

<% if(message.length > 0) { %>
  <div class="alert alert-success">
    <%= message %>
  </div>
<% } %>

<div>
  <ul id="all-movie-boxes">
           <% var counter = 0

           moviesArr.forEach(function(movie) {
             counter++
             %>
             <div class="col-md-4" >
             <div class="image-container">
             <a href="/movies/<%= movie.id %>"><img class="movieImage img-responsive"  src="/images/<%= movie.poster %>" ></a>
             <div class="after"><p><%= movie.title %></p></div>
             </div>
            </div>

            <% if (counter % 3 === 0) { %>
              <div style="clear:both;"></div>

            <% }
         }) %>
      </ul>

      <%# <img src="images/deepwaterhorizonposter.jpg" class="img-thumbnail" height="200" width="200">

      <img src="images/jackreacherposter.jpg" class="img-thumbnail" height="200" width="200">

      <img src="images/infernoposter.jpg" class="img-thumbnail" height="200" width="200">

      <img src="images/girltrain-poster.jpg" c class="img-thumbnail" height="200" width="200">

      <img src="images/startrekbeyond-poster.jpeg" class="img-thumbnail" height="200" width="200">

      <img src="images/findingdoryPoster.jpg" class="img-thumbnail" height="200" width="200">%>s
    </div>
</div>
